/*
order of precedence:
1. Inline styles
2. Internal styles
3. External styles

caveat: !important will override any precedence (only use for debugging)
*/

html{
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

#body1 {
    background-color: #FFD1DC;
}

p {
    background-color:#d6d8d7;
}

#main_text {
    color: rgb(36, 4, 56);
    text-decoration: underline;
}